[Desktop Entry]
Encoding=UTF-8
Name=Settings Manager
Name[ar]=مدي التكوين
Name[ca]=Gestor de paràmetres
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[es]=Gestor de configuración
Name[fr]=Gestionnaire de paramètres
Name[fr_BE]=Gestionnaire de paramètres
Name[hi]=समायोजन प्रबंधन
Name[id]=Manajer pengaturan
Name[it]=Gestore di impostazioni
Name[ja]=Settings Manager
Name[ml]=സെറ്റിംഗ്സ് ക്രമീകരണങ്ങൾ 
Name[nl]=Instellingenbeheer
Name[pl]=Menedżer ustawień
Name[pt]=Gestor de definições
Name[pt_BR]=Gerenciador de Configurações do MX Fluxbox
Name[ru]=Settings Manager
Name[sv]=Inställnings-hanterare
Name[tr]=Ayar Yöneticisi
Comment=Common settings for MX Fluxbox
Comment[ar]=فلكسبوكس MX الاعدادات العامة أل 
Comment[ca]=Paràmetres comuns per MX Fluxbox
Comment[de]=Allgemeine Einstellungen für MX Fluxbox
Comment[el]=Κοινές ρυθμίσεις για το MX Fluxbox
Comment[es]=Configuraciones comunes para MX Fluxbox
Comment[fr]=Paramètres généraux pour MX Fluxbox
Comment[fr_BE]=Paramètres généraux pour MX Fluxbox
Comment[hi]=MX फ्लक्सबॉक्स के लिए सामान्य सेटिंग्स
Comment[id]=Pengaturan umum untuk mx fluxbox
Comment[it]=Impostazioni comuni per MX Fluxbox.
Comment[ja]=Common settings for MX Fluxbox
Comment[ml]=സെറ്റിംഗ്സ് ക്രമീകരണങ്ങൾ - MX ഫ്ളക്സ്ബോക്സ് 
Comment[nl]=Veel voorkomende instellingen voor MX Fluxbox
Comment[pl]=Ogólne ustawienia MX Fluxbox
Comment[pt]=Gestão de definições comuns do MX Fluxbox
Comment[pt_BR]=Configurações comuns para o MX Fluxbox
Comment[ru]=Common settings for MX Fluxbox
Comment[sv]=Vanliga inställningar för MX Fluxbox
Comment[tr]=MX Fluxbox için Genel Ayarlar
Exec=custom-toolbox /etc/custom-toolbox/mxfb-settings.list
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/custom-toolbox.svg
Categories=GNOME;GTK;System;
NoDisplay=false
