[Desktop Entry]
Encoding=UTF-8
Name=Settings Manager
Name[ca]=Settings Manager
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[es]=Gestor de configuración
Name[fr]=Gestionnaire de paramètres
Name[hi]=Settings Manager
Name[id]=Manajer pengaturan
Name[it]=Gestore di impostazioni
Name[ja]=Settings Manager
Name[nl]=Instellingenbeheer
Name[pl]=Menedżer ustawień
Name[pt_br]=Configurações comuns para MX Fluxbox
Name[ru]=Settings Manager
Name[sv]=Inställnings-hanterare
Comment=Common settings for MX Fluxbox
Comment[ca]=Common settings for MX Fluxbox
Comment[de]=Allgemeine Einstellungen für MX Fluxbox
Comment[el]=Κοινές ρυθμίσεις για το MX Fluxbox
Comment[es]=Configuraciones comunes para MX Fluxbox
Comment[fr]=Paramètres généraux pour MX Fluxbox
Comment[hi]=MX फ्लक्सबॉक्स के लिए सामान्य सेटिंग्स
Comment[id]=Pengaturan umum untuk mx fluxbox
Comment[it]=Impostazioni comuni per MX Fluxbox.
Comment[ja]=Common settings for MX Fluxbox
Comment[nl]=Veel voorkomende instellingen voor MX Fluxbox
Comment[pl]=Ogólne ustawienia MX Fluxbox
Comment[pt_br]=Configurações comuns para MX Fluxbox
Comment[ru]=Common settings for MX Fluxbox
Comment[sv]=Vanliga inställningar för MX Fluxbox
Exec=custom-toolbox -r /etc/custom-toolbox/mxfb-settings.list
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/mxfb-settings.svg
Categories=GNOME;GTK;System;
NoDisplay=false

