[Desktop Entry]
Encoding=UTF-8
Name=Settings Manager
Name[ca]=Settings Manager
Name[de]=Settings Manager
Name[el]=Settings Manager
Name[es]=Settings Manager
Name[fr]=Settings Manager
Name[it]=Settings Manager
Name[ja]=Settings Manager
Name[nl]=Settings Manager
Name[sv]=Settings Manager
Exec=custom-toolbox /etc/custom-toolbox/mxfb-settings.list
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/custom-toolbox.svg
Categories=GNOME;GTK;System;
NoDisplay=false

