[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Exit Options Manager
Name[ca]=
Name[cz]=Správce možností ukončení
Name[de]=Verlassen Einstellungen
Name[el]=Διαχειριστής επιλογών εξόδου
Name[es]=Gestor de opciones de salida
Name[fr]=Gestionnaire des options de sortie
Name[fr_BE]=Gestionnaire des options de sortie 
Name[it]=Gestore delle opzioni di uscita 
Name[ja]=イグジットオプションの管理者 
Name[nl]=Beheerder van uitstapmogelijkheden 
Name[pl]=Zarządzanie opcjami wyjścia 
Name[pt]=Gestor de opções de saída
Name[pt_BR]=Gerenciador das Opções de Saída 
Name[ru]=Менеджер по опционам выхода 
Name[sv]=Hanterare för avslutningsalternativ 
Comment=Select icons and layout
Comment[ca]=
Comment[de]=Icons und Layout auswählen
Comment[el]=Επιλογή εικονιδίων και διάταξης
Comment[es]=Seleccionar iconos y diseño
Comment[fr]=Sélectionner les icônes et la mise en page
Comment[fr_BE]=Sélectionner les icônes et la mise en page
Comment[it]=Selezionare le icone e il layout
Comment[ja]=アイコンやレイアウトを選択する
Comment[nl]=Pictogrammen en lay-out kiezen
Comment[pl]=Wybierz ikony i układ
Comment[pt]=Seleccionar ícones e layout
Comment[pt_BR]=Permite selecionar o tipo do leiaute e os ícones
Comment[ru]=Выберите значки и макет
Comment[sv]=Välj ikoner och layout
Exec=exit-options-manager
Icon=/usr/share/pixmaps/exit-options-manager.svg
Terminal=false
ShowOnly=fluxbox
Categories=System; 
