[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Exit options manager
Name[ca]=
Name[de]=
Name[el]=
Name[es]=
Name[fr]=
Name[hi]=
Name[id]=
Name[it]=
Name[ja]=
Name[nl]=
Name[pl]=
Name[pt_BR]=
Name[ru]=
Name[sv]=
Comment=Select icons and layout
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[hi]=
Comment[id]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[pl]=
Comment[pt_BR]=
Comment[ru]=
Comment[sv]=
Exec=exit-options-manager
Icon=/usr/share/pixmaps/exit-options-manager.svg
Terminal=false
ShowOnly=fluxbox
Categories=System; 
