[Desktop Entry]
Encoding=UTF-8
Name=Shortcuts
Comment=Shows frequently used key shortcuts
Exec=mxfb-keybindings
Terminal=false
Type=Application
Icon=mxfb-keybindings
Categories=System;
NoDisplay=false