[Desktop Entry]
Encoding=UTF-8
Name=Quickshot
Name[ca]=Quickshot
Name[de]=Quickshot
Name[el]=Quickshot
Name[es]=Quickshot
Name[fr]=Quickshot
Name[hi]=Quickshot
Name[id]=Quickshot
Name[it]=Quickshot
Name[ja]=Quickshot
Name[nl]=Quickshot
Name[pl]=Quickshot
Name[pt_BR]=Quickshot
Name[ru]=Quickshot
Name[sv]=Quickshot
Comment=Capture desktop with single click
Comment[ca]=Capture desktop with single click
Comment[de]=Capture desktop with single click
Comment[el]=Capture desktop with single click
Comment[es]=Capture desktop with single click
Comment[fr]=Capture desktop with single click
Comment[hi]=Capture desktop with single click
Comment[id]=Capture desktop with single click
Comment[it]=Capture desktop with single click
Comment[ja]=Capture desktop with single click
Comment[nl]=Capture desktop with single click
Comment[pl]=Capture desktop with single click
Comment[pt_BR]=Capture desktop with single click
Comment[ru]=Capture desktop with single click
Comment[sv]=Capture desktop with single click
Exec=mxfb-quickshot
Terminal=false
Type=Application
Icon=/usr/share/icons/Papirus/48x48/devices/camera-photo.svg
Categories=System;
NoDisplay=false
