[Desktop Entry]
Encoding=UTF-8
Name=MXFB-keybindings
Name[ca]=
Name[de]=
Name[el]=
Name[es]=
Name[fr]=
Name[fr_BE]=
Name[hi]=
Name[id]=
Name[it]=
Name[ja]=
Name[nl]=
Name[pl]=
Name[pt_BR]=
Name[ru]=
Name[sv]=
Comment=Shows frequently used key shortcuts
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[fr_BE]=
Comment[hi]=
Comment[id]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[pl]=
Comment[pt_BR]=
Comment[ru]=
Comment[sv]=
Exec=mxfb-keybindings
Terminal=false
Type=Application
Icon=mxfb-keybindings
Categories=System;
NoDisplay=false
