[Desktop Entry]
Encoding=UTF-8
Name=Quickshot
Name[ca]=
Name[de]=
Name[el]=
Name[es]=
Name[fr]=
Name[hi]=
Name[id]=
Name[it]=
Name[ja]=
Name[nl]=
Name[pl]=
Name[pt_BR]=
Name[ru]=
Name[sv]=
Comment=Capture desktop with single click
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[hi]=
Comment[id]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[pl]=
Comment[pt_BR]=
Comment[ru]=
Comment[sv]=
Exec=mxfb-quickshot
Terminal=false
Type=Application
Icon=/usr/share/icons/Papirus/48x48/devices/camera-photo.svg
Categories=System;
NoDisplay=false
