[Desktop Entry]
Encoding=UTF-8
Name[ca]=Dreceres
Name[de]=Verknüpfungen
Name[es]=Atajos de teclado
Name[es_ES]=Atajos de teclado
Name[fr]=Raccourcis
Name[fr_BE]=Raccourcis
Name[it]=Scorciatoie
Name[nb]=Hurtigtaster
Name[pl]=Skróty klawiszowe
Name[pt_BR]=Atalhos do Teclado
Name[sq]=Shkurtore
Name[sv]=Genvägar
Name=Shortcuts
Comment[ca]=Mostra les tecles de drecera usades sovint
Comment[de]=Zeigt häufig verwendete Tastenkombinationen
Comment[es]=Muestra los atajos de teclado más utilizados
Comment[es_ES]=Muestra los atajos de teclado más utilizados
Comment[fr]=Affiche les raccourcis clavier fréquemment utilisés
Comment[fr_BE]=Affiche les raccourcis clavier fréquemment utilisés
Comment[it]=Mostra le scorciatoie da tastiera utilizzate di frequente
Comment[nb]=Vis ofte brukte hurtigtaster
Comment[pl]=Pokazuje często używane skróty klawiszowe
Comment[pt_BR]=O ‘Shortcuts’ exibe os atalhos do teclado utilizados com mais frequência
Comment[sq]=Shfaq shkurtore të përdorura rëndom
Comment[sv]=Visa ofta använda tangentbordsgenvägar
Comment=Shows frequently used key shortcuts
Exec=mxfb-keybindings
Terminal=false
Type=Application
Icon=mxfb-keybindings
Categories=System;X-MXFB-Tools;
NoDisplay=false
