[Desktop Entry]
Encoding=UTF-8
Name=Borders
Name[ca]=
Name[de]=Rahmen
Name[el]=Σύνορα
Name[es]=Bordes
Name[fr]=Bordures
Name[hi]=
Name[id]=
Name[it]=Bordi
Name[ja]=ウィンドウの縁取り
Name[nl]=Randen
Name[pl]=Obramowania
Name[pt_BR]=Bordas
Name[ru]=Границы
Name[sv]=Gränser
Comment=Set border style for all apps
Comment[ca]=
Comment[de]=Rahmenstil für alle Anwendungen festlegen
Comment[el]=Ορισμός στυλ περιγράμματος για όλες τις εφαρμογές
Comment[es]=Establecer el estilo de los bordes para todas las aplicaciones
Comment[fr]=Définir le style de bordure pour toutes les applications
Comment[hi]=
Comment[id]=
Comment[it]=Imposta lo stile del bordo per tutte le app
Comment[ja]=すべてのアプリにボーダースタイルを設定
Comment[nl]=Randstijl instellen voor alle apps
Comment[pl]=Ustaw styl obramowania dla wszystkich aplikacji
Comment[pt_BR]=Definir o estilo de borda para todas as aplicações
Comment[ru]=Установите стиль границ для всех приложений
Comment[sv]=Ange gränsstil för alla appar
Exec=mxfb-borders
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/borders.png
Categories=System;
NoDisplay=false
