[Desktop Entry]
Encoding=UTF-8
Name=Font
Name[ca]=Font
Name[de]=Schriftart
Name[el]=Γραμματοσειρά
Name[es]=Fuente
Name[fr]=Police
Name[hi]=Font
Name[id]=Font
Name[it]=Carattere
Name[ja]=フォント
Name[nl]=Lettertype
Name[pl]=Czcionka
Name[pt_BR]=Fonte
Name[ru]=Шрифт
Name[sv]=Typsnitt
Comment=Select fonts for style elements
Comment[ca]=Select fonts for style elements
Comment[de]=Select fonts for style elements
Comment[el]=Select fonts for style elements
Comment[es]=Select fonts for style elements
Comment[fr]=Select fonts for style elements
Comment[hi]=Select fonts for style elements
Comment[id]=Select fonts for style elements
Comment[it]=Select fonts for style elements
Comment[ja]=Select fonts for style elements
Comment[nl]=Select fonts for style elements
Comment[pl]=Select fonts for style elements
Comment[pt_BR]=Select fonts for style elements
Comment[ru]=Select fonts for style elements
Comment[sv]=Select fonts for style elements
Exec=mxfb-font
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/fonts.png
Categories=System;
NoDisplay=false
