[Desktop Entry]
Encoding=UTF-8
Name=Appfinder Settings
Name[de]=Appfinder-Einstellungen
Name[el]=Ρυθμίσεις Appfinder
Name[es]=Ajustes de Appfinder
Name[es_ES]=Ajustes de Appfinder
Name[fr]=Paramètres de l'Appfinder
Name[it]=Impostazioni di Appfinder
Name[ja]=Appfinder設定 
Name[nb]=Innstillinger for Appfinder
Name[nl]=Appfinder instellingen
Name[pl]=Ustawienia Appfinder 
Name[pt]=Definições do Appfinder
Name[ru]=Настройки Appfinder 
Name[tr]=Appfinder Ayarları
Name[zh_CN]=Appfinder 設定 
Comment=Configuration options
Comment[de]=Konfigurationsoptionen
Comment[el]=Επιλογές διαμόρφωσης
Comment[es]=Opciones de configuración
Comment[fr]=Options de configuration
Comment[it]=Opzioni di configurazione
Comment[ja]=構成オプション
Comment[nb]=Konfigurasjonsalternativer
Comment[nl]=Configuratie-opties
Comment[pl]=Opcje konfiguracji
Comment[pt]=Opções de configuração
Comment[ru]=Параметры конфигурации
Comment[tr]=Yapılandırma Seçenekleri
Cpmment[zh_CN]=設定選項
Exec=appfinder-settings
Terminal=false
Type=Application
Icon=mxfb-appfinder-settings
Categories=System;X-MXFB-Tools;
NoDisplay=false
