[Desktop Entry]
Type=Application
Encoding=UTF-8

Name=Tint2 Manager
Name[ca]=
Name[de]=Tint2 Einstellungen
Name[el]=Διαχειριστής Tint2
Name[es]=Gestor Tint2
Name[fr]=Gestionnaire Tint2
Name[hi]=
Name[id]=Pengelola Tint2
Name[it]=Gestore Tint2
Name[ja]=
Name[nl]=Tint2 Beheerder
Name[pl]= Menedżer Tint2
Name[pt_br]=
Name[ru]=
Name[sv]=Tint2-hanterare
Comment=Selection tool for creative panel
Comment[ca]=
Comment[de]=Auswahlwerkzeug für das Kreativpanel
Comment[el]=Εργαλείο επιλογής για δημιουργικό πλαίσιο
Comment[es]=Herramienta de selección para el panel creativo
Comment[fr]=Outil de sélection du panneau créatif
Comment[hi]=
Comment[id]=Alat seleksi untuk panel kreatif
Comment[it]=Strumento di selezione per il pannello creativo
Comment[ja]=
Comment[nl]=Selectiegereedschap voor creatieve taakbalk
Comment[pl]=Narzędzie umożliwiające wybór kreatywnego panelu.
Comment[pt_br]=
Comment[ru]=
Comment[sv]=Valverktyg för skapande av panel

Exec=/usr/bin/mxfb-tint2-manager
Icon=systemtray.svg
Terminal=false
Categories=System;
