[Desktop Entry]
Encoding=UTF-8
Name=Borders
Name[ar]=هيكل الويندو
Name[ca]=
Name[de]=Rahmen
Name[el]=Σύνορα
Name[es]=Bordes
Name[fr]=Bordures
Name[fr_BE]=Bordures
Name[hi]=विंडो सीमाएं
Name[id]=
Name[it]=Bordi
Name[ja]=ウィンドウの縁取り
Name[ml]=വിൻഡോ ബോർഡറുകൾ 
Name[nl]=Randen
Name[pl]=Obramowania
Name[pt]=Bordos
Name[pt_BR]=Bordos
Name[ru]=Границы
Name[sv]=Ramar
Name[tr]=Kenarlıklar
Comment=Set border style for all apps
Comment[ar]=هيكل الويندو لجميع التطبيقات
Comment[ca]=
Comment[de]=Rahmenstil für alle Anwendungen festlegen
Comment[el]=Ορισμός στυλ περιγράμματος για όλες τις εφαρμογές
Comment[es]=Establecer el estilo de los bordes para todas las aplicaciones
Comment[fr]=Définir le style de bordure pour toutes les applications
Comment[fr_BE]=Définir le style de bordure pour toutes les applications
Comment[hi]=सभी ऐप्स की विंडो बॉर्डर सेट करें 
Comment[id]=
Comment[it]=Imposta lo stile del bordo per tutte le app
Comment[ja]=すべてのアプリにボーダースタイルを設定
Comment[ml]=എല്ലാ ആപ്പുകളുടെയും വിൻഡോ ബോർഡറുകൾ ക്രമീകരിക്കുക 
Comment[nl]=Randstijl instellen voor alle apps
Comment[pl]=Ustaw styl obramowania dla wszystkich aplikacji
Comment[pt]=Definir o estilo de bordo para todas as aplicações
Comment[pt_BR]=Definir o estilo de bordo para todos os aplicativos
Comment[ru]=Установите стиль границ для всех приложений
Comment[sv]=Ange ramstil för alla appar
Comment[tr]=Tüm uygulamalar için kenarlık tarzını belirle
Exec=mxfb-borders
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/borders.png
Categories=System;
NoDisplay=false
