[Desktop Entry]
Encoding=UTF-8
Name=Titlebar
Name[ar]=شريط العنوان 
Name[de]=Titelleiste
Name[el]=Μπάρα τίτλου
Name[es]=Barra de título
Name[fr]=Barre des titres
Name[fr_BE]=Barre des titres
Name[hi]=टाइटल बार 
Name[it]=Barra del titolo
Name[ja]=タイトルバー
Name[ml]=ശീർഷക ബാർ
Name[nl]=Titelbalk
Name[pt]=Barra de Título
Name[pt_BR]=Barra de Título
Name[sv]=Titellist
Name[tr]=Başlık Çubuğu
Comment=Set top style for all apps
Comment[ar]=نمط شريط العنوان لجميع التطبيقات
Comment[de]=Stil der Titelleiste aller Anwendungen festlegen
Comment[el]=Ορίστε το στυλ της μπάρας τίτλου για όλες τις εφαρμογές
Comment[es]=Establecer el estilo de la barra de título para todas las aplicaciones
Comment[fr]=Définir le style de titre pour toutes les applications
Comment[fr_BE]=Définir le style de titre pour toutes les applications
Comment[hi]=सभी ऐप्स के लिए टाइटल बार 
Comment[it]=Imposta lo stile della barra del titolo per tutte le app
Comment[ja]=全アプリ上部のスタイルを設定します
Comment[ml]=എല്ലാ ആപ്പുകളുടെയും ശീർഷക ബാർ ശൈലി 
Comment[nl]=Stel titelstijl in voor alle apps
Comment[pl]=Ustawienie najlepszego stylu dla wszystkich aplikacji
Comment[pt]=Definir o estilo da barra de título para todas as janelas
Comment[pt_BR]=Definir o estilo da barra de título para todas as janelas
Comment[ru]=Установите верхний стиль для всех приложений
Comment[sv]=Bestäm titellist för alla appar
Comment[tr]=Tüm uygulamalar için başlık çubuğu tarzını belirle
Exec=mxfb-top
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/top.png
Categories=System;
NoDisplay=false
