[Desktop Entry]
Encoding=UTF-8
Name=Menu font
Name[ca]=Menu font
Name[de]=Menü-Schriftart
Name[el]=Γραμματοσειρά του μενού
Name[es]=Fuente del menú
Name[fr]=Police du menu
Name[hi]=Menu font
Name[id]=Menu font
Name[it]=Carattere del menu
Name[ja]=メニューフォント
Name[nl]=Menu lettertype
Name[pl]=Czcionka menu
Name[pt_BR]=Fonte do menu
Name[ru]=Шрифт меню
Name[sv]=Typsnitt för meny
Comment=Fonts set by style or overlay file
Comment[ca]=Fonts set by style or overlay file
Comment[de]=Schriftarten durch Stil oder Overlay-Datei festgelegt
Comment[el]=Γραμματοσειρές που ορίζονται από το στυλ ή το αρχείο επικάλυψης
Comment[es]=Fuentes establecidas por estilo o archivo de superposición
Comment[fr]=Polices définies par le style ou le fichier de superposition
Comment[hi]=Fonts set by style or overlay file
Comment[id]=Fonts set by style or overlay file
Comment[it]=Caratteri impostati dallo stile o dal file di overlay
Comment[ja]=スタイルファイルやオーバーレイファイルで設定されたフォント
Comment[nl]=Lettertypes ingesteld door stijl of overlaybestand
Comment[pl]=Czcionki ustawione przez styl lub plik nakładki
Comment[pt_BR]=Fontes definidas por estilo ou arquivo overlay
Comment[ru]=Шрифты, установленные стилем или файлом наложения
Comment[sv]=Teckensnitt som fastställts i en stil eller en överlagringsfil
Exec=mxfb-menufont
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/fonts.png
Categories=System;
NoDisplay=false
