[Desktop Entry]
Encoding=UTF-8
Name[am]=MX Fluxbox ማሻሻያ
Name[ca]=MX Fluxbox Tweaks
Name[cs]=MX Fluxbox Vyladění
Name[da]=MX Fluxbox Finjustering
Name[de]=MX Fluxbox Tweaks
Name[el]=MX Fluxbox Ρυθμίσεις
Name[es]=MX Fluxbox Tweaks
Name[es_ES]=MX Fluxbox Tweaks
Name[fi]=MX Fluxbox Tweaks
Name[fr]=MX Fluxbox Ajustements
Name[fr_BE]=MX Fluxbox Ajustements - Tweaks
Name[gl_ES]=MX Fluxbox axustes rápidos
Name[he_IL]=התאמות MX Fluxbox
Name[hi]=एमएक्स-अनुकूलन
Name[hr]=MX Fluxbox ugađanje
Name[hu]=MX Fluxbox finomhangoló
Name[it]=MX Fluxbox Rifiniture
Name[ja]=MX Fluxbox Tweaks
Name[lt]=MX Fluxbox patobulinimai
Name[nb]=MX Fluxbox Tweaks
Name[nl]=MX Fluxbox Fijninstellingen
Name[pl]=MX Fluxbox Ulepszenia
Name[pt]=MX Fluxbox Ajustes Rápidos
Name[pt_BR]=Ajustes Rápidos do MX Fluxbox
Name[ru]=MX Fluxbox Tweaks
Name[ru_RU]=MX Fluxbox Tweaks
Name[sk]=MX Fluxbox Tweaks
Name[sl]=MX Fluxbox prilagoditve
Name[sq]=Përimtim MX Fluxbox-i
Name[sv]=MX Fluxbox Tweaks
Name[tr]=MX Fluxbox İnce ayar
Name[uk]=MX Fluxbox Tweaks
Name[zh_CN]=MX Fluxbox Tweaks
Name[zh_TW]=MX Fluxbox 調校
Name=MX Fluxbox Tweaks
Comment[am]=የ ተለየ ጠቃሚ ማሰናጃ
Comment[ca]=Diversos ajustos útils
Comment[cs]=Výběr užitečných vyladění systému
Comment[da]=Diverse nyttige finjusteringer
Comment[de]=Eine Zusammenstellung nützlicher Einstellungen
Comment[el]=Χρήσιμες βελτιώσεις
Comment[es]=Varios ajustes útiles
Comment[es_ES]=Varios ajustes útiles
Comment[fi]=Valikoima hyödyllisiä säätöjä
Comment[fr]=Divers ajustements bien pratiques
Comment[fr_BE]=Divers ajustements bien pratiques
Comment[gl_ES]=Ajustes útiles variados
Comment[hu]=Válogatott hasznos trükkök
Comment[it]=Utili rifiniture di vario genere
Comment[ja]=色々と便利な Tweaks があります
Comment[lt]=Įvairūs naudingi patobulinimai
Comment[nb]=Diverse nyttige finjusteringer
Comment[nl]=Verschillende handige fijninstellingen
Comment[pl]=Różne użyteczne poprawki
Comment[pt]=Alteração fácil e prática de vários elementos [MX Fluxbox-Tweaks]
Comment[pt_BR]=O ‘MX Fluxbox-Tweaks’ ou ‘Ajustes Rápidos do MX Fluxbox’ permite fazer alterações de várias configurações úteis no MX Fluxbox Linux
Comment[ru]=Различные полезные изменения (твики)
Comment[ru_RU]=Различные полезные настройки
Comment[sk]=Výber užitočných vylepšení vzhľadu
Comment[sl]=Izbor uporabnih prilagoditev
Comment[sq]=Përimtime të ndryshme të dobishme
Comment[sv]=Blandade användbara justeringar
Comment[tr]=Çeşitli yararlı ince ayarlar
Comment[zh_TW]=多項有用的調校工具
Comment=Assorted useful tweaks
Exec=mx-tweak
Terminal=false
Type=Application
Icon=mx-tweak
Categories=System;X-MXFB-Tools;
NoDisplay=false
