[Desktop Entry]
Encoding=UTF-8
Name=Trash check
Name[ca]=Trash check
Name[de]=Trash check
Name[el]=Trash check
Name[es]=Trash check
Name[fr]=Trash check
Name[hi]=Trash check
Name[id]=Trash check
Name[it]=Trash check
Name[ja]=Trash check
Name[nl]=Trash check
Name[pl]=Trash check
Name[pt_br]=Trash check
Name[ru]=Trash check
Name[sv]=Trash check
Comment=Count and manage trash files
Comment[ca]=Count and manage trash files
Comment[de]=Count and manage trash files
Comment[el]=Count and manage trash files
Comment[es]=Count and manage trash files
Comment[fr]=Count and manage trash files
Comment[hi]=Count and manage trash files
Comment[id]=Count and manage trash files
Comment[it]=Count and manage trash files
Comment[ja]=Count and manage trash files
Comment[nl]=Count and manage trash files
Comment[pl]=Count and manage trash files
Comment[pt_br]=Count and manage trash files
Comment[ru]=Count and manage trash files
Comment[sv]=Count and manage trash files
Exec=mxfb-trashcheck
Terminal=false
Type=Application
Icon=/usr/share/icons/Papirus/48x48/apps/trashindicator.svg
Categories=System;
NoDisplay=false

