[Desktop Entry]
Encoding=UTF-8
Name=Titlebar
Name[ar]=شريط العنوان 
Name[ca]=
Name[de]=Titelleiste
Name[el]=Γραμμή τίτλου
Name[es]=Barra de título
Name[fr]=Barre des titres
Name[hi]=टाइटल बार 
Name[id]=
Name[it]=Barra del titolo
Name[ja]=
Name[ml]=ശീർഷക ബാർ
Name[nl]=Titelbalk
Name[pl]=Pasek tytułowy
Name[pt]=Barra de Título
Name[pt_BR]=Barra de Título
Name[ru]=Панель заголовков  
Name[sv]=Titellist
Name[tr]=Başlık Çubuğu
Comment=Set top style for all apps
Comment[ar]=نمط شريط العنوان لجميع التطبيقات
Comment[ca]=
Comment[de]=Stil der Titelleiste aller Anwendungen festlegen
Comment[el]=Ορισμός στυλ γραμμής τίτλου για όλες τις εφαρμογές
Comment[es]=Establecer el estilo de la barra de título para todas las aplicaciones
Comment[fr]=Définir le style de titre pour toutes les applications
Comment[hi]=सभी ऐप्स के लिए टाइटल बार 
Comment[id]=
Comment[it]=Imposta lo stile della barra del titolo per tutte le app
Comment[ja]=
Comment[ml]=എല്ലാ ആപ്പുകളുടെയും ശീർഷക ബാർ ശൈലി 
Comment[nl]=Stel titelstijl in voor alle apps
Comment[pl]=Ustaw styl paska tytułowego dla wszystkich aplikacji
Comment[pt]=Definir o estilo da barra de título para todas as janelas
Comment[pt_BR]=Definir o estilo da barra de título para todas as janelas
Comment[ru]=Установите стиль панели заголовков для всех приложений
Comment[sv]=Bestäm titellist för alla appar
Comment[tr]=Tüm uygulamalar için başlık çubuğu tarzını belirle
Exec=mxfb-top
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/top.png
Categories=System;
NoDisplay=false
