[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MXFB Style Editor
Name[cz]=MXFB Editor stylů
Name[de]=MXFB Stil-Editor
Name[el]=Επεξεργαστής στυλ MXFB
Name[es]=Editor de estilos MXFB
Name[fr]=Éditeur de style MXFB
Name[fr_BE]=Éditeur de style MXFB
Name[it]=MXFB Editor di stile
Name[ja]=MXFBスタイルエディター
Name[nl]=MXFB Stijleditor
Name[pl]=Edytor stylu MXFB
Name[pt]=Editor de estilo MXFB
Name[pt_BR]=Editor de estilo MXFB
Name[ru]=Редактор стилей MXFB
Name[sv]=MXFB Stilredigerare
Comment=Edit the colors of MX-Fluxbox styles
Comment[de]=Farben der MX-Fluxbox-Stile bearbeiten
Comment[el]=Επεξεργασία των χρωμάτων των στυλ MX-Fluxbox
Comment[es]=Editar los colores de los estilos MX-Fluxbox
Comment[fr]=Modifier les couleurs des styles MX-Fluxbox
Comment[fr_BE]=Modifier les couleurs des styles MX-Fluxbox
Comment[it]=Modifica i colori degli stili MX-Fluxbox
Comment[ja]=MX-Fluxboxスタイルの色を編集する
Comment[nl]=De kleuren van MX-Fluxbox-stijlen bewerken
Comment[pl]=Edytuj kolory stylów MX-Fluxbox
Comment[pt]=Editar as cores dos estilos MX-Fluxbox
Comment[pt_BR]=Editar as cores dos estilos MX-Fluxbox
Comment[ru]=Редактирование цветов стилей MX-Fluxbox
Comment[sv]=Redigera färgerna i MX-Fluxbox-stilar
Categories=Settings;X-MXFB-Tools;
Exec=mxfb-style-editor
Terminal=false
Icon=mxfb-style-editor
Keywords=style;theme;fluxbox
NoDisplay=false
StartupNotify=false
StartupWMClass=mxfb-style-editor
