[Desktop Entry]
Encoding=UTF-8
Name=Font
Name[ca]=Font
Name[de]=Schriftart
Name[el]=Γραμματοσειρά
Name[es]=Fuente
Name[fr]=Police d’écriture
Name[fr_BE]=Police de caractères
Name[hi]=Font
Name[id]=Font
Name[it]=Carattere
Name[ja]=フォント
Name[nl]=Lettertype
Name[pl]=Czcionka
Name[pt_BR]=Fonte
Name[ru]=Шрифт
Name[sv]=Typsnitt
Comment=Select fonts for style elements
Comment[ca]=Select fonts for style elements
Comment[de]=Wählen Sie Schriftarten für Stilelemente aus
Comment[el]=Επιλέξτε γραμματοσειρές για στοιχεία στυλ
Comment[es]=Seleccionar fuentes para elementos de estilo
Comment[fr]=Sélectionner les polices d’écriture pour les éléments de style
Comment[fr_BE]=Sélectionner les polices de caractères pour les éléments de style
Comment[hi]=Select fonts for style elements
Comment[id]=Select fonts for style elements
Comment[it]=Seleziona i caratteri per gli elementi di stile
Comment[ja]=Select fonts for style elements
Comment[nl]=Selecteer lettertypen voor stijlelementen
Comment[pl]=Select fonts for style elements
Comment[pt_BR]=Select fonts for style elements
Comment[ru]=Vyberite shrifty dlya elementov stilya
Comment[sv]=Select fonts for style elements
Exec=mxfb-font
Terminal=false
Type=Application
Icon=mxfb-font
Categories=System;X-MXFB-Tools;
NoDisplay=false
